h1{
  font-size: 50px;
 color:White;
  background-color: black;
    border:5px green dotted;
  margin:70px;
}
p{
  font-size: 30px;
  color:black;
  background-color:purple;
  border:3px black solid;
  margin:5px;
}
h3{
  font-size:30px;
  color:White;
  background-color:black;
  border:4px green dotted;
  margin:70px;
  
}
li{
  font-size:20px;
  color:;
  background-color: #D6318C;
  border:4px green solid;
  margin:2px;
  
}
h4{
  font-size:30px;
  color:White;
  background-color:black;
  border:4px green dotted;
  margin:70px;
  
  
}
img{
  width:300px
}


body{
  background-color: violet
}
